---
http_interactions:
- request:
    method: post
    uri: https://api.shapeways.com/orders/cart/v1
    body:
      encoding: UTF-8
      string: '{"modelId":212594,"materialId":77,"quantity":1}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_consumer_key="dummy-key", oauth_nonce="4d27b3f07e1168dc257fd29f1ff629f1",
        oauth_signature="O83r4pHaP%2B%2FvGWp3Wb0jLqqDdOs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1369408148", oauth_token="dummy-token",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Oktogo-Inseconds:
      - '0'
      X-Ratelimit-Window-Inminutes:
      - '5'
      X-Ratelimit-Retry-Inseconds:
      - '0'
      X-Ratelimit-Window-Inseconds:
      - '300'
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Proxy-Connection:
      - Keep-alive
    body:
      encoding: UTF-8
      string: '{"result":"success","nextActionSuggestions":{"getCartList":{"method":"GET","restUrl":"http:\/\/api.shapeways.com\/orders\/cart\/v1","link":"\/orders\/cart\/v1"}}}'
  recorded_at: Fri, 24 May 2013 15:09:08 GMT
recorded_with: VCR 2.5.0
