---
http_interactions:
- request:
    method: post
    uri: http://api.shapeways.com/orders/cart/v1
    body:
      encoding: UTF-8
      string: '{"modelId":212594,"materialId":77,"quantity":1}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_consumer_key="61b13483fc0caf31f986026ce2add918d3fa9377", oauth_nonce="236b07d621d63f4dd61fb8a734b35117",
        oauth_signature="XZ2NJQTC0gGvawsapATVaToJswI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1369407033", oauth_token="a7b557d69456b2efdd93fc64db999d0c8cae1d57",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Oktogo-Inseconds:
      - '0'
      X-Ratelimit-Window-Inminutes:
      - '5'
      X-Ratelimit-Retry-Inseconds:
      - '0'
      X-Ratelimit-Window-Inseconds:
      - '300'
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '148'
      Proxy-Connection:
      - Keep-alive
    body:
      encoding: UTF-8
      string: '{"result":"success","nextActionSuggestions":{"getCartList":{"method":"GET","restUrl":"http:\/\/api.shapeways.com\/orders\/cart\/v1","link":"\/orders\/cart\/v1"}}}'
  recorded_at: Fri, 24 May 2013 14:50:33 GMT
recorded_with: VCR 2.5.0
