---
http_interactions:
- request:
    method: post
    uri: https://api.shapeways.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic fake_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"fake_token","token_type":"bearer","expires_in":3600}'
  recorded_at: Mon, 16 Oct 2023 21:46:15 GMT
- request:
    method: get
    uri: https://api.shapeways.com/orders/v1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer fake_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Oktogo-Inseconds:
      - '0'
      X-Ratelimit-Window-Inminutes:
      - '5'
      X-Ratelimit-Retry-Inseconds:
      - '0'
      X-Ratelimit-Window-Inseconds:
      - '300'
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
    body:
      encoding: ASCII-8BIT
      string: '{"result":"success","ordersCount":{"total":1,"placed":0,"in_production":0,"cancelled":1,"unknown":0,"shipped":0},"ordersStatus":{"4654952":{"status":"cancelled","items":{"9583205":{"title":"kjdjhkiujjjj_jjuuejdjd_small_brass_gee_happy-lithi","quantity":1,"status":{"processing":0,"in_production":0,"complete":0,"cancelled":1}}}}},"ordersInfo":[{"orderId":4654952,"refNumber":null,"targetDeliveryDate":"2023-11-15
        00:00:00","targetShipDate":"2023-11-16 00:00:00","shipments":null,"orderProducts":[{"orderProductId":"9583205","spin":"FEBLLCM2T","productTitle":"kjdjhkiujjjj_jjuuejdjd_small_brass_gee_happy-lithi","optionId":"327190519","optionDescription":"14k
        Gold Plated Brass","quantity":"1","models":[{"modelId":"12982554","materialId":"110","title":"kjdjhkiujjjj_jjuuejdjd_small_brass_gee_happy-lithi","rejection":{"rejectionReasons":[],"affectedMaterials":[]}}]}]}],"nextActionSuggestions":{"url":"offset=20"}}'
  recorded_at: Mon, 16 Oct 2023 21:46:16 GMT
recorded_with: VCR 6.2.0
