---
http_interactions:
- request:
    method: get
    uri: https://api.shapeways.com/orders/cart/v1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="dummy-key", oauth_nonce="635bf901c644e2e5515b41e35e340702",
        oauth_signature="9BNNE5VNE35zNuU7rOZzndKn%2FFI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1369408147", oauth_token="dummy-token",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Oktogo-Inseconds:
      - '0'
      X-Ratelimit-Window-Inminutes:
      - '5'
      X-Ratelimit-Retry-Inseconds:
      - '0'
      X-Ratelimit-Window-Inseconds:
      - '300'
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Proxy-Connection:
      - Keep-alive
    body:
      encoding: UTF-8
      string: '{"result":"success","itemCount":8,"items":[{"cartKey":"212594-77","modelId":"212594","materialId":"77","quantity":"8"}],"nextActionSuggestions":[]}'
  recorded_at: Fri, 24 May 2013 15:09:08 GMT
recorded_with: VCR 2.5.0
