---
http_interactions:
- request:
    method: get
    uri: https://api.shapeways.com/categories/v1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="dummy-key", oauth_nonce="96b0482e389d8c25b3bbc2ca3d331074",
        oauth_signature="tvAHCson%2BWD1PDuwISXpEqX1lf8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1369415623", oauth_token="dummy-token",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Oktogo-Inseconds:
      - '0'
      X-Ratelimit-Window-Inminutes:
      - '5'
      X-Ratelimit-Retry-Inseconds:
      - '0'
      X-Ratelimit-Window-Inseconds:
      - '300'
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '148'
      Proxy-Connection:
      - Keep-alive
    body:
      encoding: UTF-8
      string: '{"result":"success","categories":{"16":{"categoryId":"16","title":"Art","level":"1","parentId":null},"17":{"categoryId":"17","title":"Figurines","level":"2","parentId":"38"},"18":{"categoryId":"18","title":"Accessories","level":"2","parentId":"55"},"21":{"categoryId":"21","title":"Mechanical
        parts","level":"2","parentId":"104"},"23":{"categoryId":"23","title":"Jewelry","level":"1","parentId":null},"25":{"categoryId":"25","title":"Accessories","level":"2","parentId":"40"},"27":{"categoryId":"27","title":"Sculptures","level":"2","parentId":"16"},"28":{"categoryId":"28","title":"Mode[...]
