---
http_interactions:
- request:
    method: get
    uri: http://api.shapeways.com/categories/100/v1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="dummy-key", oauth_nonce="3a52e08b16669066242cca09a71af345",
        oauth_signature="i2TAp%2FzZSOnkRuwfoT9t8gbXDGI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1369415680", oauth_token="dummy-token",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Oktogo-Inseconds:
      - '0'
      X-Ratelimit-Window-Inminutes:
      - '5'
      X-Ratelimit-Retry-Inseconds:
      - '0'
      X-Ratelimit-Window-Inseconds:
      - '300'
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '148'
      Proxy-Connection:
      - Keep-alive
    body:
      encoding: UTF-8
      string: '{"result":"success","categoryId":"100","title":"Cases","level":"2","parentId":"40","nextActionSuggestions":[]}'
  recorded_at: Fri, 24 May 2013 17:14:40 GMT
recorded_with: VCR 2.5.0
