---
http_interactions:
- request:
    method: post
    uri: https://api.shapeways.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic fake_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"fake_token","token_type":"bearer","expires_in":3600}'
  recorded_at: Mon, 16 Oct 2023 21:46:19 GMT
- request:
    method: post
    uri: https://api.shapeways.com/orders/v1
    body:
      encoding: UTF-8
      string: '{"testMode":1,"firstName":"Alex","lastName":"Hey","country":"US","state":"CA","city":"San
        Francisco","address1":"1250 market st","address2":"#A","address3":"Rafe
        Records","zipCode":"94110","phoneNumber":"123456789","items":[{"modelId":"12982554","materialId":"110","quantity":1}],"paymentMethod":"credit_card","shippingOption":"Cheapest","manufacturingSpeed":"Economy"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer fake_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Oktogo-Inseconds:
      - '0'
      X-Ratelimit-Window-Inminutes:
      - '5'
      X-Ratelimit-Retry-Inseconds:
      - '0'
      X-Ratelimit-Window-Inseconds:
      - '300'
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '147'
    body:
      encoding: ASCII-8BIT
      string: '{"result":"success","orderId":"1234567","productionOrderIds":["FAKEPOID1234","FAKEPOID1235"],"nextActionSuggestions":{"checkOrderStatus":"\/checkout\/receipt?orderId=1234567"}}'
  recorded_at: Mon, 16 Oct 2023 21:46:20 GMT
recorded_with: VCR 6.2.0
