---
http_interactions:
- request:
    method: get
    uri: https://api.shapeways.com/materials/77/v1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="dummy-key", oauth_nonce="51b8d5eecc9296b3c7bf7c12eceb1896",
        oauth_signature="uDoK74vWPXgpz7eQ8TITSWppOJU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1369407662", oauth_token="dummy-token",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Oktogo-Inseconds:
      - '0'
      X-Ratelimit-Window-Inminutes:
      - '5'
      X-Ratelimit-Retry-Inseconds:
      - '0'
      X-Ratelimit-Window-Inseconds:
      - '300'
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Proxy-Connection:
      - Keep-alive
    body:
      encoding: UTF-8
      string: '{"result":"success","materialId":"77","title":"Hot Pink Strong & Flexible
        Polished","supportsColorFiles":"0","printerId":"20","swatch":"http:\/\/static2.shapeways.netdna-cdn.com\/rrstatic\/img\/materials\/swatch-hot-pink.jpg","nextActionSuggestions":[]}'
  recorded_at: Fri, 24 May 2013 15:01:03 GMT
recorded_with: VCR 2.5.0
