---
http_interactions:
- request:
    method: get
    uri: http://api.shapeways.com/models/1114694/files/1/v1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="dummy-key", oauth_nonce="13e2ad5f709c5e475613685898f819bf",
        oauth_signature="klC6C37mk11Fnwy7WNwisgQ%2B1WE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1369413368", oauth_token="dummy-token",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Oktogo-Inseconds:
      - '0'
      X-Ratelimit-Window-Inminutes:
      - '5'
      X-Ratelimit-Retry-Inseconds:
      - '0'
      X-Ratelimit-Window-Inseconds:
      - '300'
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Proxy-Connection:
      - Keep-alive
    body:
      encoding: UTF-8
      string: '{"result":"success","modelId":"1114694","modelVersion":"1","title":"Usb-holder","fileName":"usb-holder.stl","contentLength":4684,"fileMd5Checksum":"2bca8c0924d2972e4708532804864ef8","fileData":null,"nextActionSuggestions":{"updateModelFile":{"method":"POST","restUrl":"http:\/\/api.shapeways.com\/models\/1114694\/files\/v1","link":"\/models\/1114694\/files\/v1"},"downloadModel":{"method":"GET","restUrl":"http:\/\/api.shapeways.com\/models\/1114694\/files\/1\/v1?file=1","link":"\/models\/1114694\/files\/1\/v1?file=1"},"updateModelDetails":{"method":"PUT","restUrl":"http:\/\/api.shapeways.com\/models\/1114694\/info\/v1","link":"\/models\/1114694\/info\/v1"},"deleteModel":{"method":"DELETE","restUrl":"http:\/\/api.shapeways.com\/models\/1114694\/v1","link":"\/models\/1114694\/v1"}},"printable":"yes"}'
  recorded_at: Fri, 24 May 2013 16:36:09 GMT
recorded_with: VCR 2.5.0
