---
http_interactions:
- request:
    method: post
    uri: https://api.shapeways.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic fake_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"fake_token","token_type":"bearer","expires_in":3600}'
  recorded_at: Fri, 14 Jul 2023 16:33:38 GMT
- request:
    method: get
    uri: https://api.shapeways.com/orders/v1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer fake_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Oktogo-Inseconds:
      - '0'
      X-Ratelimit-Window-Inminutes:
      - '5'
      X-Ratelimit-Retry-Inseconds:
      - '0'
      X-Ratelimit-Window-Inseconds:
      - '300'
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
    body:
      encoding: ASCII-8BIT
      string: '{"result":"success","ordersCount":{"total":0,"placed":0,"in_production":0,"cancelled":0,"unknown":0,"shipped":0},"ordersStatus":[],"ordersInfo":null,"nextActionSuggestions":{"url":"offset=20"}}'
  recorded_at: Fri, 14 Jul 2023 16:33:39 GMT
- request:
    method: get
    uri: https://api.shapeways.com/orders/v1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer fake_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Oktogo-Inseconds:
      - '0'
      X-Ratelimit-Window-Inminutes:
      - '5'
      X-Ratelimit-Retry-Inseconds:
      - '0'
      X-Ratelimit-Window-Inseconds:
      - '300'
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '148'
    body:
      encoding: ASCII-8BIT
      string: '{"result":"success","ordersCount":{"total":0,"placed":0,"in_production":0,"cancelled":0,"unknown":0,"shipped":0},"ordersStatus":[],"ordersInfo":null,"nextActionSuggestions":{"url":"offset=20"}}'
  recorded_at: Fri, 14 Jul 2023 16:33:53 GMT
recorded_with: VCR 6.2.0
