---
http_interactions:
- request:
    method: post
    uri: https://api.shapeways.com/price/v1
    body:
      encoding: UTF-8
      string: '{"volume":1.0e-06,"area":0.0006,"xBoundMin":0,"xBoundMax":0.01,"yBoundMin":0,"yBoundMax":0.01,"zBoundMin":0,"zBoundMax":0.01}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_consumer_key="dummy-key", oauth_nonce="3cf3f2d066b7baf86f302c3e647386b0",
        oauth_signature="QdQgFDzn39QYLPrNzffabEDyXes%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1369415096", oauth_token="dummy-token",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Oktogo-Inseconds:
      - '0'
      X-Ratelimit-Window-Inminutes:
      - '5'
      X-Ratelimit-Retry-Inseconds:
      - '0'
      X-Ratelimit-Window-Inseconds:
      - '300'
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
    body:
      encoding: UTF-8
      string: '{"result":"success","prices":{"6":{"materialId":"6","price":2.9,"currency":"USD"},"62":{"materialId":"62","price":3.5,"currency":"USD"},"25":{"materialId":"25","price":3.5,"currency":"USD"},"76":{"materialId":"76","price":3.75,"currency":"USD"},"77":{"materialId":"77","price":3.75,"currency":"USD"},"78":{"materialId":"78","price":3.75,"currency":"USD"},"75":{"materialId":"75","price":3.75,"currency":"USD"},"61":{"materialId":"61","price":8.49,"currency":"USD"},"60":{"materialId":"60","price":7.39,"currency":"USD"},"5":{"materialId":"5","price":5.49,"currency":"USD"},"7[...]
