---
http_interactions:
- request:
    method: get
    uri: http://api.shapeways.com/printers/8/v1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="dummy-key", oauth_nonce="86b9ef1374f9ec1d329f38a0bbecdd1f",
        oauth_signature="dVBg6kcFAQOOfsfvAu8btYtS2dQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1369414169", oauth_token="dummy-token",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Oktogo-Inseconds:
      - '0'
      X-Ratelimit-Window-Inminutes:
      - '5'
      X-Ratelimit-Retry-Inseconds:
      - '0'
      X-Ratelimit-Window-Inseconds:
      - '300'
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Proxy-Connection:
      - Keep-alive
    body:
      encoding: UTF-8
      string: '{"result":"success","printerId":"8","title":"SLS Color Printer","xBoundMin":"0.0700","xBoundMax":"18.0000","yBoundMin":"0.0700","yBoundMax":"23.0000","zBoundMin":"0.0700","zBoundMax":"32.0000","nextActionSuggestions":[]}'
  recorded_at: Fri, 24 May 2013 16:49:29 GMT
recorded_with: VCR 2.5.0
