---
http_interactions:
- request:
    method: put
    uri: https://api.shapeways.com/models/1114694/info/v1
    body:
      encoding: UTF-8
      string: '{"description":"USB thingy"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_consumer_key="dummy-key", oauth_nonce="9b4817b818298b7c549cde079a80b26e",
        oauth_signature="InNGFt8Dq1CwhnU3n9MECfP%2Bug8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1369412867", oauth_token="dummy-token",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Oktogo-Inseconds:
      - '0'
      X-Ratelimit-Window-Inminutes:
      - '5'
      X-Ratelimit-Retry-Inseconds:
      - '0'
      X-Ratelimit-Window-Inseconds:
      - '300'
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '148'
      Proxy-Connection:
      - Keep-alive
    body:
      encoding: UTF-8
      string: '{"result":"success","modelId":"1114694","modelVersion":"0","title":"Usb-holder","description":"USB
        thingy","isPublic":0,"isForSale":0,"materials":{"6":{"materialId":"6","markup":"0.000000","isActive":1},"62":{"materialId":"62","markup":"0.000000","isActive":1},"25":{"materialId":"25","markup":"0.000000","isActive":1},"76":{"materialId":"76","markup":"0.000000","isActive":1},"77":{"materialId":"77","markup":"0.000000","isActive":1},"78":{"materialId":"78","markup":"0.000000","isActive":1},"75":{"materialId":"75","markup":"0.000000","isActive":1},"61":{"materialId":"61","markup":"0.000000","isActive":1},"60":{"materialId":"60","markup":"0.000000","isActive":1},"5":{"materialId":"5","markup":"0[...]
